

    <div class="example-container" style="height: 100vh">

        <div class ='test'>
            <div class="container">
                <span class="text1">Welcome to</span>
                <span class="text2">Gallery</span>
            </div>
        </div>

   
        <div class="content">
            <div class="line"></div>
        </div>
        

        <div class="example-sidenav-content"   >
        
            <button class = 'button zoom' (click)='onSomehtingButtonClick()' >nature</button>
            <button class = 'button zoom' pageScroll href="#travel" >travel</button>
            <button class = 'button zoom' pageScroll href="#urban" >urban</button>
            <button class = 'button zoom' pageScroll href="#abstract" >abstract</button>
            <button class = 'button zoom' pageScroll href="#landscape" >landscape</button>
            <button class = 'button zoom' pageScroll href="#video" >video</button> 
        </div>

       



    </div>

  


